.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.rotate {
  animation: rotate 0.7s linear both;
}
@keyframes rotate {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
}

.card {
  width: 80%;
  height: 80%;
  opacity: 0.8;
  background: white;
  border-radius: 16px;
  display: flex;
  align-items: center;
}

.card img {
  width: 400px;
  margin: 0 auto;
}

.card div {
  border: 5px solid #ccc;

  border-radius: 16px;
  padding: 6px;
  width: 400px;
  width: 50%;
  text-align: center;
  margin-right: auto;
}

.card div p {
  font-size: 2rem;
}

.card div h2 {
  font-size: 3.5rem;
}

@media screen and (max-width: 992px) {
  .card {
    width: 90%;
    height: 90%;
    opacity: 0.8;
    background: white;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .card img {
    width: 300px;
    margin: 0 auto;
    display: flex;
  }

  .card div {
    width: 400px;
    width: 50%;
    text-align: center;
    margin: -100px auto;
  }

  .card div p {
    font-size: 1.7rem;
  }

  .card div h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 90%;
    height: 90%;
    opacity: 0.8;
    background: white;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .card img {
    width: 200px;
    margin: -34px auto;
  }

  .card div {
    width: 80%;
    margin: -30px auto;
  }

  .card div p {
    text-align: center;

    font-size: 1rem;
  }

  .card div h2 {
    text-align: center;

    font-size: 2rem;
  }
}
